@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/league-spartan');
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  transition: 0.4s ease-in-out;
}
body{
  position: relative;
  background-color: #1a1919;
  color: #fafafa;
}

@media (max-width: 981px) {
  body{
    padding-top: 50px;
  }
}